* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    background: white;
    color: black;
}

input,
button {
    font-size: 14px;
    border-radius: 20px;
    border: 0 solid #000;
}

button {
    background: rgb(8, 8, 54);
    cursor: pointer;
    color: white;
}


::-webkit-scrollbar {
    display: none;
}

#dfs{
    margin-top: 15px;
}

.df {
    display: flex;
    flex-direction: row;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    width: 100px;
    margin-top: 5px;
    height: 40px;
    background: url(../../../assets/images/logo.png) no-repeat center center/contain;
}

#right-top {
    font-size: 20px;
}

#right-top .item {
    margin: 0px 15px;
    color: white;
}

#search {
    transition: 300ms;
    overflow: hidden;
    transform: scale(0);
    transform-origin: right center;
    display: none;
    transform: scale(0);
    display: none;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#search input {
    height: 30px;
    padding: 4px 10px;
}

#search button {
    height: 35px;
    line-height: 35px;
    margin-left: 8px;
    width: 35px;
}

#sidebarCollapse{
    margin-top: 15px;
    font-size: 20px;
    cursor: pointer;
}

#topbar {
    color: white;
    display: flex;
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    padding: 0px 0px;
    flex-direction: row;
    line-height: 50px;
    background: #1a75ff;
    justify-content: space-between;
    margin-top: -30px;
    height: 55px;
}

#sidebarCollapse{
    padding: 0 20px;
}

.menu {
    text-align: center;
}

#sidebar {
    width: 280px;
    position: sticky;
    top: 50px;
    background: red;
    height: calc(100vh - 50px);
    transform: translateX(-100%);
    z-index: 10;
    transition: 300ms;
    bottom: 0;
}

#sidebar.active {
    transform: translate(0);
}


#bottom-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    background: white;
    left: 0;
    width: 100vw;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    box-shadow: 0px -3px 20px 4px #bdbdbd26;
    display: none;
    z-index: 100;
}

#bottom-bar .menu a {
    color: grey;
    height: fit-content;
    background: white;
    border-radius: 20px;
    padding: 5px 10px;
    height: 30px;
}

#more-menu {
    position: fixed;
    bottom: 50px;
    padding: 10px 10px;
    right: 0;
    padding-bottom: 4px;
    width: fit-content;
    border-top-left-radius: 5px;
    transform: translateX(100%);
    transition: 300ms;
    background: rgb(255 255 255);
    box-shadow: 1px 1px 20px 4px #80808026;
    z-index: 3;
}

#more-menu.active {
    transform: translate(0);
}

#more-menu li {
    line-height: 40px;
    color: #000;
}

#more-menu li a {
    color: #000;
}

#profile_menu {
    position: fixed;
    top: 50px;
    right: 0;
    padding: 10px 10px;
    width: fit-content;
    border-bottom-left-radius: 10px;
    transform: translateX(100%);
    transition: 300ms;
    background: rgb(255 255 255);
    box-shadow: 1px 1px 20px 4px #80808026;
}

#profile_menu.active {
    transform: translateX(0);
}

#profile_menu li {
    line-height: 40px;
    padding: 3px 10px;
    border-radius: 5px;
}

#profile_menu li:hover {
    background: rgb(0 27 148);
    color: white;
}

#bottom-bar .active a {
    color: blue;
    padding: 5px 10px;
}







@media screen and (max-width: 600px) {
    #bottom-bar {
        display: flex;
        z-index: 100;
        margin-bottom: 0;
    }
    #logo {
        display: block;
    }
    #sidebarCollapse,
    #sidebar {
        display: none;
    }
    #search input {
        min-width: 120px;
        max-width: 340px;
    }
    .searchbtn{
        width: 175px;
    }
    #tab{
        padding: 0 0;
    }
    #sidebarCollapse{
        padding: 0 20px;
    }
    
}