@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}




/* ---------------------------------------------------
        SIDEBAR STYLE
    ----------------------------------------------------- */

#sidebar {
    min-width: 280px;
    max-width: 280px;
    background: #1a75ff;
    color: white;
    position: fixed;
    left: 0;
    top: 50px;
    height: calc(100vh - 50px);
    transition: all 0.3s;
    
}

.menu-text {
    color: white;
    font-size: 14px;
    padding: 2px 2px;
    margin-left: 10px;
}

.menu-text:hover {
    color: #fff;
}

#sidebar .badge {
    float: right;
    margin-right: 30px;
}

.sidebar-icon i {
    font-size: 14px;
}

#sidebar li:hover .sidebar-icon {
    color: yellow;
}

#pageSubmenu li:hover a .sidebar-icon1 {
    color: yellow;
}

#pageSubmenu2 li:hover a .sidebar-icon1 {
    color: yellow;
}

#homeSubmenu li:hover a .sidebar-icon1 {
    color: yellow;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    /* border-bottom: 1px solid #47748b; */
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}


/* ---------------------------------------------------
        CONTENT STYLE
    ----------------------------------------------------- */